.img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.cartDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items {
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:antiquewhite;
  border: 2px solid rgba(191, 190, 190, 0.221);
  margin: 10px 0px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance:none;
  margin: 0;

}
input{
  text-align: center;
  height: 35px;
  width: 35px;
  /* caret-color:transparent; */
}
.btn{
  all: unset;
  height: 40px;
  color: white;
  width: 40px;
  background-color: red;
 display: grid;
 place-content: center;
}
.items:hover h6{
    transition: all 500ms;
   color: red;
}
.items:nth-child(odd) {
  background-color: bisque;
}
.details {
  display: flex;
}
main {
  margin-top: 40px;
}
.rate {
  font-size: 1.2rem;
}
h1{
    text-align: end;
 margin: 20px;
}
h6{
    font-size: 1.5rem;
}

h1{
  color: black;
  text-align: end;

}
.highlighted{

  display: flex;
  flex-direction: column;

  justify-content: center;
 
}
.highlighted span{
  font-size: 1.6rem;
}
/* add this  */
.billingSection{
  display: none;
}
/* new */
 .controlbtn{
  border-radius: unset;
  outline: none;
  font-weight: bold;
  border: 1px solid rgba(128, 128, 128, 0.105);
  &:hover{
    background-color: black;
    color: white;
   
  }
}
.PlusMinusContainer{
  width: 100px;
  height: 40px;
  background-color: white;
  justify-content: space-between;
  display: flex;
}
/* . */
@media print {
    .headings{
      border: 2px dotted black;
    }
    nav,h1,.items,.button{
      display: none;
    }
    .billingSection{
      display: flex;
      flex-direction: column;
      border: 4px dotted black;
      padding: 0px 20px;
    }
    .billingSection p{
      font-size: 1rem;
      text-align: center;
      margin: unset;
    }
    .billingSection div{
      border-bottom: 1px solid rgba(128, 128, 128, 0.101);
    }
    .billingSection p:nth-child(1){
      text-align: left;
    }
   
}
/* to this */
@media(max-width:900px){
    .img{
        height: 80px;
        width: 80px;
    }
    h6{
        font-size: 0.8rem;
        font-weight: 800;
    }
    .highlighted span{
      font-size: 1rem;
    }
    
}
